


<div class="table-responsive">
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <td>Date</td>
            <td>Place</td>
            {{#if user.balance}}<td>Balance</td>{{/if}}
            <td>Difference</td>
        </tr>
    </thead>
    <tbody>
        {{#each user.history as |item itemIndex|}}

            <tr>
                <td>{{item.date}}</td>
                <td>{{item.place}}</td>


                <td class="text-right">{{#compare item.balance null operator="=="}}NaN{{/compare}}{{item.balance}}</td>

                {{#compare item.diff 0 operator=">"}}<td class="text-success text-right">+{{item.diff}}</td>{{/compare}}
                {{#compare item.diff 0 operator="<"}}<td class="text-danger text-right">{{item.diff}}</td>{{/compare}}
            </tr>
        {{/each}}
    </tbody>
</table>
</div>